version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: tasks_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./common/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  api:
    build: ./api/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - postgres

  worker:
    build: ./worker/app
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - postgres
